.header{
    display: block;
    padding-bottom: 2rem;
    border-bottom: 1px solid grey;
    &__logo{
      display: block ;
      text-align: center;
      a {
        text-decoration: none;
        color: black;
      }
    }
}





