.breadCrumbs{
    text-align: center;
    margin-top: 1rem;

    span{
        
    }
}

.crumbs{
    margin: 0 0.5rem;
    text-decoration: none;
    color:grey;
    &:hover{
        color: green;
    }

    &__img{
        height: 10px
    }
}