.card{
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    
    &--portada{
        
    }

    &__img{
        width: 99%;
    }

    &__body{
        margin: 0;
        & h4{
            margin: 0;
        }
    }
}

.card--large{
    margin-top: 2rem;
    vertical-align: top;
    vertical-align: baseline;

     .card__img{
      display: inline-block;
        width: 40%;
        box-sizing: border-box;


    }

     .card__body{
        padding-top: 1rem ;
        vertical-align: top;
        display: inline-block;
        width: 40%;
      
        box-sizing: border-box;

        p{
            margin-top: 1rem;
        }
    }
}

